body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background: #333;
    color: white;
    padding: 15px;
}

section {
    padding: 20px;
}

.project-card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
